.icon-card {
	background: #f7f7f7;
	border-radius: 12px;
	padding: 30px;
	width: 100%;
	height: 100%;

	.logo-container {
		width: 60px;
		height: 60px;
		align-items: center;
		display: flex;

		.gatsby-image-wrapper {
			height: auto;
			width: 60px;
		}

		img {
			max-height: 100%;
		}
	}

	.title {
		font-family: $ruberoid;
		font-weight: bold;
		font-size: 28px;
		color: #000000;
		letter-spacing: 0;
		margin-top: 32px;
	}
	.text {
		font-family: $inter;
		font-weight: 300;
		font-size: 14px;
		color: #393939;
		letter-spacing: 0;
		line-height: 20px;
		margin-top: 26px;
		max-width: 450px;
	}
	.link-wrapper {
		margin-top: 20px;
		.link {
			font-family: $ruberoid;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 1em;
			padding: 8px 0;
			margin: -8px 0;
			color: #000000;
			transition: all 0.2s ease-in-out;
			&:hover {
				color: #393939;
				& svg {
					margin-left: 16px;
				}
			}
		}
		svg {
			margin-left: 8px;
			transition: all 0.2s ease-in-out;
			will-change: margin;
		}
	}

	&.horizontal {
		display: flex;
		align-items: start;

		@include media-breakpoint-down(md) {
			display: block;
		}

		& .logo-container {
			margin-right: 30px;
			margin-top: 0;

			&.top {
				align-self: flex-start;
			}
			&.center {
				align-self: center;
			}
		}

		& .square {
			padding: 10px;
			background-color: white;
			border-radius: 6px;
			border: 1px solid #e9e9e9;
		}

		& .title {
			margin-top: 0;
			@include media-breakpoint-down(md) {
				margin-top: 32px;
			}
		}

		& .text {
			margin-top: 18px;
			@include media-breakpoint-down(md) {
				margin-top: 26px;
			}
		}

		& .text-box {
			display: block;
		}
	}

	&.vertical {
		display: flex;
		flex-direction: column;
		align-items: start;

		& .text-box {
			display: block;
		}
	}

	&.no-image {
		& .title {
			margin-top: unset;
		}
	}
}
