.press-item {
	border-radius: 12px;
	padding: 60px 50px;
	width: 100%;
	height: 100%;
	@include media-breakpoint-down(md) {
		padding: 0px;
	}

	.image-container {
		align-items: center;
		display: flex;

		.gatsby-image-wrapper {
			height: 110px;
			width: 110px;
			@include media-breakpoint-down(sm) {
				height: 80px;
				width: 80px;
			}
		}

		img {
			max-height: 100%;
		}
	}

	.press-item-header {
		height: 110px;
		margin-bottom: 50px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}

	.press-item-title {
		font-family: $ruberoid;
		color: #000000;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 40px;
		margin-top: 20px;
		@include media-breakpoint-down(sm) {
			font-size: 30px;
			line-height: 30px;
			margin-top: 20px;
		}
	}
	.press-item-text {
		font-family: $inter;
		color: #414141;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: -0.1125px;
		margin-top: 15px;
		@include media-breakpoint-down(sm) {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.link-wrapper {
		.link {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $ruberoid;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 1em;
			color: #040109;
			background-color: #ffffff;
			transition: all 0.2s ease-in-out;
			height: 62px;
			width: 62px;
			border-radius: 9999px;
			transition: transform 0.2s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.badge {
		display: flex;
		align-items: center;
		background-color: #ffffff;
		border-radius: 108px;
		padding: 10px 15px;
		width: fit-content;
		.badge-icon {
			height: 15px;
			color: #1e1e1e;
			margin-right: 10px;
		}
		.badge-text {
			font-family: $ruberoid;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 1em;
			color: #000000;
		}
		
	}
}
