.contact-section{
  .box{
    border-radius: 8px;
    border: 1px solid #E2E2E2;
    background: #FFF;
    padding:30px;
    color: #000;
    font-family: $inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em; /* 175% */
    text-wrap:balance;

    @include media-breakpoint-down(md) {
      font-size:14px;
    }

    .title{
      color: #000;
      font-family: $ruberoid;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.2px;

      @include media-breakpoint-down(md) {
        font-size:18px;
      }
    }

  }
}