.developer-portal {
	position: relative;

	z-index: 0;
	background: url(../images/BG/technology.png) no-repeat scroll top 500px right transparent;

	@include media-breakpoint-down(xl) {
		background-position: top 320px right;
	}
	@include media-breakpoint-down(lg) {
		background-position: top 350px right;
	}
	@include media-breakpoint-down(md) {
		background-position: top 450px right;
	}
	@include media-breakpoint-down(sm) {
		background-position: -210px 450px;
	}

	main {
		z-index: 0;
		background: url(../images/BG/home.png) no-repeat scroll top 1800px left transparent;

		@include media-breakpoint-down(xl) {
			background-position: top 2000px left;
		}
		@include media-breakpoint-down(lg) {
			background-position: top 2000px left;
		}
		@include media-breakpoint-down(md) {
			background-position: top 3400px left;
		}
		@include media-breakpoint-down(sm) {
			background-position: top 3300px left;
		}
	}

	&:before {
		background: url(../images/developer-portal/developer-portal.png) no-repeat scroll top right transparent;
		background-size: contain;
		top: 30px;
		right: 0;
		left: 50%;
		position: absolute;
		content: "";
		width: 580px;
		height: 580px;
		z-index: -1;

		@include media-breakpoint-down(xl) {
			width: 480px;
			height: 480px;
			top: 30px;
			right: 60px;
			left: unset;
		}
		@include media-breakpoint-down(lg) {
			width: 380px;
			height: 380px;
			top: 70px;
			right: 50px;
		}
		@include media-breakpoint-down(md) {
			width: 78%;
			height: 78%;
			max-width: 450px;
			right: unset;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	main {
		padding-top: 100px;
	}
	section {
		padding-top: 50px;
		padding-bottom: 50px;
		@include media-breakpoint-down(sm) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	.main {
		max-width: 600px;
		@include media-breakpoint-down(lg) {
			max-width: 350px;
		}
		@include media-breakpoint-down(md) {
			max-width: 100%;
		}
		@include media-breakpoint-down(sm) {
			max-width: 300px;
		}
	}

	.subtitle {
		font-family: $ruberoid;
		font-weight: 500;
		font-size: 18px;
		color: #000000;
		letter-spacing: 0;
		line-height: 25px;
		margin-bottom: 30px;
		max-width: 400px;
		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}
	}

	.description {
		font-family: $inter;
		font-weight: 300;
		font-size: 16px;
		color: #000000;
		letter-spacing: 0;
		line-height: 24px;
		margin-top: 22px;
		max-width: 400px;
		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}
	}

	.hero {
		@include media-breakpoint-down(md) {
			padding-top: 415px;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 70vw;
		}
	}

	.get-started {
		padding-top: 140px;
		@include media-breakpoint-down(md) {
			padding-top: 120px;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 35px;
		}

		& .icon-card {
			@include media-breakpoint-down(md) {
				padding: 30px;
			}
		}

		& .icon-card-wrapper:nth-child(1) {
			& .icon-card {
				background-color: #f3ecff;
			}
		}
		& .icon-card-wrapper:nth-child(2) {
			& .icon-card {
				background-color: #def7ff;
			}
		}
		& .icon-card-wrapper:nth-child(3) {
			& .icon-card {
				background-color: #fff2e1;
			}
		}
	}

	.tutorials {
		padding-top: 100px;
		@include media-breakpoint-down(md) {
			padding-top: 50px;
		}
		& .icon-card-wrapper {
			& .icon-card {
				background-color: transparent;
				& .logo-container {
					padding: 12px;
					background-color: #e8e8e8;
					border-radius: 9999px;
				}
			}
		}
		& .icon-card-wrapper:nth-child(2) .icon-card .logo-container {
			padding: 12px;
			background-color: #f3e4ce;
			border-radius: 9999px;
		}
	}


	.connect-container {
		background-color: #fff2e1;
		padding: 50px 20px;
		@include media-breakpoint-up(md) {
			width: 90%;
			margin: auto;
			max-width: 1300px;
			padding: 0 75px;
			border-radius: 8px;;
		}
	}

	.connect {
		padding: 0px;
		& .icon-card {
			@include media-breakpoint-down(md) {
				padding: 0px;
			}
		}
		& .icon-card-wrapper .icon-card {
			background: transparent;
		}
	}

	.concepts {
		padding: 40px 75px;
		@include media-breakpoint-down(md) {
			padding: 50px 0px 0px 0px;
		}
		& .icon-card-wrapper .icon-card {
			background: transparent;
			padding: 10px;
			@include media-breakpoint-down(md) {
				padding: 0px;
			}
		}
	}

	.connect,
	.concepts,
	.faqs {
		.description {
			max-width: 350px;
			@include media-breakpoint-down(sm) {
				max-width: 100%;
			}
		}
	}
	.faqs {
		@include media-breakpoint-down(md) {
			padding-top: 50px;
			padding-bottom: 0px;
		}
	}

	.discover {
		padding-top: 75px;
		padding-bottom: 0px;
		& .icon-card {
			@include media-breakpoint-down(md) {
				padding: 30px;
			}
		}
	}

	.button-simple,
	.button-white,
	.button-icon,
	.button-external {
		margin-right: 20px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}

	.community {
		padding-bottom: 100px;
		@include media-breakpoint-down(md) {
			padding-bottom: 50px;
		}
		& .icon-card {
			@include media-breakpoint-down(md) {
				padding: 30px;
			}
		}
	}

	.community-title {
		text-align: center;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-down(md) {
			text-align: left;
			width: 100%;
			margin-left: unset;
			margin-right: unset;
		}
	}
	.community-description {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-down(md) {
			text-align: left;
			margin-left: unset;
			margin-right: unset;
		}
	}
	.min-width-50 {
		min-width: 50%;
	}
	.min-width-33 {
		min-width: 33%;
	}
}