.press {
	padding-bottom: 150px;
	@include media-breakpoint-down(sm) {
		padding-bottom: 100px;
	}
	.text {
		font-family: $ruberoid;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.225px;
		color: #000000;
		width: 80%;
		max-width: 478px;
		margin-bottom: 0px;

		@include media-breakpoint-down(sm) {
			font-size: 15px;
			line-height: 23px;
			width: 100%;
		}
	}

	.card-grid {
		padding-top: 75px;
		@include media-breakpoint-down(md) {
			padding-top: 40px;
		}
		.two-col-grid {
			grid-row-gap: 25px;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-auto-rows: auto;
			grid-column-gap: 25px;
			@include media-breakpoint-up(sm) {
				grid-row-gap: 35px;
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 35px;
				grid-auto-rows: auto;
			}
		}

		& .press-item {
			@include media-breakpoint-down(md) {
				padding: 30px;
			}
		}
	}
}
