.what-is-tia {
	position: relative;

	z-index: 0;
	background: url(../images/BG/technology.png) no-repeat scroll top 500px right transparent;

	@include media-breakpoint-down(xl) {
		background-position: top 320px right;
	}
	@include media-breakpoint-down(lg) {
		background-position: top 350px right;
	}
	@include media-breakpoint-down(md) {
		background-position: top 450px right;
	}
	@include media-breakpoint-down(sm) {
		background-position: -210px 450px;
	}

	main {
		z-index: 0;
		// background: url(../images/BG/home.png) no-repeat scroll top 1800px left transparent;

		@include media-breakpoint-down(xl) {
			background-position: top 2000px left;
		}
		@include media-breakpoint-down(lg) {
			background-position: top 2000px left;
		}
		@include media-breakpoint-down(md) {
			background-position: top 3400px left;
		}
		@include media-breakpoint-down(sm) {
			background-position: top 3300px left;
		}
	}

	h1.main {
		max-width: 650px;
		@include media-breakpoint-down(xl) {
			max-width: 400px;
		}
		@include media-breakpoint-down(md) {
			max-width: 400px;
		}
	}
	.main-text {
		@include media-breakpoint-down(xl) {
			max-width: 400px;
		}
		@include media-breakpoint-down(md) {
			max-width: 400px;
		}
	}

	&:before {
		background: url(../images/what-is-tia/what-is-tia-1.png) no-repeat scroll top right transparent;
		background-size: contain;
		top: 30px;
		right: 0;
		left: 50%;
		position: absolute;
		content: "";
		width: 600px;
		height: 600px;
		z-index: -1;

		@include media-breakpoint-down(xl) {
			width: 540px;
			height: 540px;
			top: 30px;
			right: 60px;
			left: 50%;
		}
		@include media-breakpoint-down(lg) {
			width: 380px;
			height: 380px;
			top: 70px;
			right: 50px;
		}
		@include media-breakpoint-down(md) {
			width: 88%;
			height: 88%;
			max-width: 480px;
			right: unset;
			top: 40px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	main {
		padding-top: 100px;
	}
	section {
		padding-top: 50px;
		padding-bottom: 50px;
		@include media-breakpoint-down(sm) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	.subtitle {
		font-family: $ruberoid;
		font-weight: 500;
		font-size: 18px;
		color: #000000;
		letter-spacing: 0;
		line-height: 25px;
		margin-bottom: 30px;
		max-width: 560px;
		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}
	}

	.description {
		font-family: $inter;
		font-weight: 300;
		font-size: 16px;
		color: #000000;
		letter-spacing: 0;
		line-height: 24px;
		margin-top: 22px;
		max-width: 450px;
		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}
	}

	.hero {
		padding-bottom: 0px;
		@include media-breakpoint-down(md) {
			padding-top: 375px;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 65vw;
		}
	}

	.button-simple,
	.button-white,
	.button-icon,
	.button-external {
		margin-right: 20px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}

	.min-width-50 {
		min-width: 50%;
	}
	.min-width-33 {
		min-width: 33%;
	}

	.tia-role {
		padding-top: 80px;
		padding-bottom: 0px;
		@include media-breakpoint-up(lg) {
			padding-top: 145px;
			padding-bottom: 0px;
		}
		.role-items {
			margin-top: 32px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			@include media-breakpoint-up(lg) {
				margin-top: 56px;
				flex-direction: row;
			}
		}
		.role-card {
			height: 100%;
			padding-bottom: 30px;
			@include media-breakpoint-up(lg) {
				padding-bottom: 40px;
			}
			.role-image-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				width: 140px;
				margin-bottom: 10px;
				@include media-breakpoint-down(sm) {
					width: 100px;
				}
				@include media-breakpoint-up(lg) {
					margin-bottom: 20px;
				}
			}
			.role-card-title {
				color: #000;
				font-family: $ruberoid;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 28px;
				max-width: 320px;
			}
			.role-card-text {
				color: #414141;
				font-family: $inter;
				font-size: 15px;
				font-style: normal;
				font-weight: 300;
				line-height: 21px;
				letter-spacing: -0.1px;
				max-width: 460px;
				@include media-breakpoint-up(lg) {
					max-width: 320px;
				}
			}
		}
	}

	.custody-stacking {
		padding-top: 50px;
		padding-bottom: 60px;
		@include media-breakpoint-up(lg) {
			padding-top: 100px;
			padding-bottom: 100px;
		}

		.custody-stacking-title {
			margin-bottom: 20px;
			@include media-breakpoint-up(lg) {
				padding-top: 10px;
			}
		}

		.custody-stacking-item {
			margin-bottom: 0px;
			@include media-breakpoint-down(lg) {
				&:not(:last-of-type) {
					margin-bottom: 90px;
				}
			}
			@include media-breakpoint-down(sm) {
				&:not(:last-of-type) {
					margin-bottom: 60px;
				}
			}
		}
		.image-box--node {
			.image-wrapper {
				display: flex;
				justify-content: center;
				@include media-breakpoint-down(lg) {
					margin-left: auto;
					margin-right: auto;
					padding: 0px;
					max-width: 90%;
				}
			}
		}

		.text-box {
			max-width: 600px;
			.title {
				font-size: 36px;
				font-style: normal;
				font-weight: 700;
				line-height: 1.3em;
				max-width: auto;
				margin-bottom: 20px;
				@include media-breakpoint-down(md) {
					font-size: 24px;
					max-width: 380px;
				}
			}
			&:last-of-type {
				margin-top: 0px;
				@include media-breakpoint-up(lg) {
					margin-top: 30px;
				}
			}
			.custody-text-box {
				color: #414141;
				font-family: $inter;
				font-size: 16px;
				line-height: 24px;
				font-style: normal;
				font-weight: 300;
				@include media-breakpoint-up(lg) {
					font-size: 20px;
					line-height: 30px;
				}
				a {
					box-shadow: inset 0 -2px 0 0 #414141;
				}
				.link-list {
					display: flex;
					flex-wrap: wrap;
					margin-top: 10px;
					.link-wrapper {
						flex-basis: auto;
						min-width: 180px;
						margin-top: 10px;

						.link {
							font-family: $ruberoid;
							font-style: normal;
							font-weight: 700;
							font-size: 14px;
							line-height: 1em;
							padding: 8px 0;
							margin: -8px 0;
							color: #000000;
							transition: all 0.2s ease-in-out;
							box-shadow: none;
							&:hover {
								color: #393939;
								& svg {
									margin-left: 16px;
								}
							}
						}
						svg {
							margin-left: 8px;
							transition: all 0.2s ease-in-out;
							will-change: margin;
							margin-bottom: 2px;
						}
					}
				}
			}
		}
	}

	.wallets {
		padding-top: 0px;
		padding-bottom: 0px;
		@include media-breakpoint-up(lg) {
			padding-bottom: 0px;
		}
		.wallets-title {
			margin-bottom: 36px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 56px;
			}
		}
		.wallets-items {
			margin-top: 56px;
		}
		.wallet-card-wrapper {
			position: relative;
			z-index: 0;
			padding-bottom: 20px;
			padding-right: 20px;
			@include media-breakpoint-down(lg) {
				flex-basis: 100%;
				padding-right: 0px;
			}
			@include media-breakpoint-up(lg) {
				flex-basis: 50%;
				padding-right: 20px;
			}

			.wallet-card {
				position: relative;
				z-index: 1;
				padding: 30px;
				height: 100%;
				border-radius: 8px;
				background: rgba(247, 247, 247, 0.6);
				backdrop-filter: blur(32px);
				@include media-breakpoint-down(md) {
					padding: 20px;
				}
				@include media-breakpoint-down(sm) {
					padding: 16px;
				}
				.wallet-container {
					display: flex;
					align-items: center;
					flex-direction: row;
					@include media-breakpoint-down(sm) {
						align-items: start;
					}
				}
				.wallet-image-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: 63px;
					width: 63px;
					margin-right: 20px;
					z-index: 0;
					@include media-breakpoint-down(md) {
						margin-top: 5px;
						height: 40px;
						width: 40px;
					}

					.gatsby-image-wrapper {
						border-radius: 9999px;
					}
				}
				.wallet-card-title {
					color: #000;
					font-family: $ruberoid;
					font-size: 28px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					max-width: 320px;
					margin-bottom: 2px;
					@include media-breakpoint-down(sm) {
						font-size: 20px;
					}
				}
				.wallet-card-text {
					color: #393939;
					font-family: $inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					max-width: 320px;
					margin-bottom: 0px;
				}

				.link-wrapper {
					margin-top: 20px;
					.link {
						font-family: $ruberoid;
						font-style: normal;
						font-weight: 700;
						font-size: 14px;
						line-height: 1em;
						padding: 8px 0;
						margin: -8px 0;
						color: #000000;
						transition: all 0.2s ease-in-out;
						box-shadow: none;
						&:hover {
							color: #393939;
							& svg {
								margin-left: 16px;
							}
						}
					}
					svg {
						margin-left: 8px;
						transition: all 0.2s ease-in-out;
						will-change: margin;
						margin-bottom: 2px;
					}
				}
				.wallet-device-item {
					&:not(:last-of-type) {
						margin-right: 20px;
					}
				}
			}
			.wallet-blurred-image {
				position: absolute;
				top: 0;
				left: 0;
				height: 134px;
				width: 134px;
				z-index: -1;
				@include media-breakpoint-down(md) {
					height: 100px;
					width: 100px;
				}
				.gatsby-image-wrapper {
					border-radius: 9999px;
				}
			}
		}
		.two-col-flex {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.managing-tia {
		padding-top: 100px;
		padding-bottom: 100px;
		@include media-breakpoint-down(md) {
			padding-top: 60px;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 60px;
		}
		.title {
			color: #000;
			font-family: $ruberoid;
			font-size: 36px;
			font-style: normal;
			font-weight: 700;
			line-height: 48px;
			margin-bottom: 20px;
		}
		.text-box {
			color: #414141;
			font-family: $inter;
			font-size: 20px;
			font-style: normal;
			font-weight: 300;
			line-height: 28px;
			letter-spacing: -0.112px;
			max-width: 570px;
			margin-bottom: 24px;
			padding-right: 40px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 0px;
			}
		}
		.link-card {
			border-radius: 8px;
			border: 1px solid #e1e1e1;
			background: #fff;
			padding: 25px;
			@include media-breakpoint-down(sm) {
				padding: 16px;
			}
		}
		.link-title {
			color: #000;
			font-family: $ruberoid;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
		.link-wrapper {
			margin-top: 10px;
			.link {
				font-family: $ruberoid;
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 1em;
				padding: 8px 0;
				margin: -8px 0;
				color: #000000;
				transition: all 0.2s ease-in-out;
				box-shadow: none;
				&:hover {
					color: #393939;
					& svg {
						margin-left: 16px;
					}
				}
			}
			svg {
				margin-left: 8px;
				transition: all 0.2s ease-in-out;
				will-change: margin;
				margin-bottom: 2px;
			}
		}
	}
}
