.ecosystem-page{
  min-height: 60vw;
  position:relative;
  z-index: 1;
  
  &:before{
    background:url(../images/BG/ecosystem.png) no-repeat scroll top right transparent;
    background-size:contain;
    top:-50px;
    right:50px;
    position:absolute;
    content:'';
    width:500px;
    height:500px;
    z-index:-1;

    @include media-breakpoint-down(xl) {
      width:400px;
      height:400px;
    }
    @include media-breakpoint-down(lg) {
      width:300px;
      height:300px;
      top:-100px;
      right:0;
    }
    @include media-breakpoint-down(md) {
      display:none;
    }
  }

	.text {
		font-family: $ruberoid;
		font-weight: 500;
		font-size: 18px;
		color: #000000;
		letter-spacing: 0.22px;
		line-height: 26px;
		max-width: 450px;
		margin-bottom: 50px;

		@include media-breakpoint-down(md) {
			font-size: 14px;
			line-height: 21px;
			width: 100%;
			margin-bottom: 30px;
		}
	}

  .search-input{
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
    font-family: $inter;
    font-size: 16px;
    color: #000000;
    letter-spacing: -0.3px;
    line-height: 24px;
    margin-bottom:30px;
    height:60px;
    max-width:500px;
    background-image:url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center right 20px;

    @include media-breakpoint-down(lg) {
      max-width:unset;
    }

    input{
      border:none;
      width:100%;
      height:100%;
      background:none;
      padding:0 70px 0 20px;
      font-family: $inter;
      font-size: 16px;
      color: #000000;
      letter-spacing: -0.3px;
      line-height: 24px;

      &::placeholder{
        opacity: 0.23;
        font-family: $inter;
        font-size: 16px;
        color: #000000;
        letter-spacing: -0.3px;
        line-height: 24px;
      }

      &:focus{
        outline:none;
      }
    }
  }

  .category-selector{
    position: sticky;
    top:120px;

    @include media-breakpoint-down(lg) {
      position:relative;
      top:unset;
    }

    .category-selector-box{
      @include media-breakpoint-down(lg) {
        width:100%;
        font-family: $ruberoid;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        cursor: pointer;
        background: rgba(246, 246, 246, 0.7);
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 10px;
        max-height:100px;
        transition:500ms all ease-in-out;
        overflow: hidden;

        &.opened{
          max-height:800px;
          ul{
            li{
              display:block;
            }
          }
        }
      }
    }

    ul{
      list-style:none;
      margin:0;
      padding:0;

      li{
        font-family: $ruberoid;
        font-weight:600;
        font-size: 14px;
        color: #000000;
        letter-spacing: -0.09px;
        padding:9px;
        position:relative;
        display:table;
        cursor:pointer;

        &.selected{
          color:#FFF;
          &:before{
            content:'';
            left:0;
            top:0;
            width:100%;
            height:100%;
            position:absolute;
            background: $purple;
            z-index:-1;
            border-radius: 6px;
          }
        }

        svg{
          width:22px;
          height:22px;
          float:right;
          display:none;
          transition:300ms all ease-in-out;
        }

        @include media-breakpoint-down(lg) {
          display:none;

          &.selected{
            display:block;
            color:initial;
            &:before{
              display:none;
            }

            svg{
              display:inline-block;
            }
          }
        }
      }
    }
  }

  .ecosystem{
    background: #F4F4F5;
    border-radius: 12px;
    padding:30px;
    height:100%;
    width:100%;

    .logo-container{
      width:60px;
      height:60px;
      align-items: center;
      display:flex;
      margin-bottom:20px;

      .gatsby-image-wrapper{
        width: 60px;
        height: 60px;
      }

      img{
        max-height:100%;
      }
    }

    .category{
      font-family: $inter;
      font-weight:500;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0;
      line-height: 24px; 
      text-transform:uppercase;
    }

    .title{
      font-family: $ruberoid;
      font-weight:bold;
      font-size: 28px;
      color: #000000;
      letter-spacing: 0;
      margin-bottom:10px;
    }
  }
}
