.index-page {
	overflow-x: hidden;
	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: "";
		z-index: -1;
		background: url(../images/BG/homepage-bg.png) no-repeat scroll top center transparent;
		background-size: 1900px;

		@include media-breakpoint-down(xl) {
			background-size: 130%;
			background-position: center top;
		}
		@include media-breakpoint-down(lg) {
			background-size: 150%;
			background-position: center top;
		}
		@include media-breakpoint-down(md) {
			background-size: 250%;
			background-position: center top;
		}
		@include media-breakpoint-down(sm) {
			background: url(../images/BG/homepage-bg-mobile.png) no-repeat scroll top center transparent;
			background-size: 1180px;
			background-position: 30% top;
			top: -390px;
			left: -50%;
			transform: translateX(50%);
		}
	}

	main {
		padding-top: 100px;

		@include media-breakpoint-down(sm) {
			padding-top: 0;
		}
	}
	.hero-section {
		.text {
			max-width: 490px;
		}
	}

	.explore-celestia {
		padding-top: 120px;
		padding-bottom: 0px;
		@include media-breakpoint-down(sm) {
			padding-top: 100px;
		}

		.three-col-grid {
			position: relative;
			z-index: 1;
			grid-row-gap: 20px;
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
			grid-column-gap: 20px;
			@include media-breakpoint-up(md) {
				grid-row-gap: 20px;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: 20px;
				grid-auto-rows: auto;
				.span-full {
					grid-column-start: 1;
					grid-column-end: 3;
				}
			}
		}

		.card-item {
			position: relative;
			display: flex;
			flex-direction: column;
			border-radius: 8px;
			background: #f7f7f7;
			padding: 50px;
			height: 100%;
			h3 {
				font-size: 40px;
				font-style: normal;
				font-weight: bold;
				line-height: 48px;

				@include media-breakpoint-down(md) {
					font-size: 32px;
					letter-spacing: 0.12px;
					line-height: 40px;
				}

				@include media-breakpoint-down(sm) {
					font-size: 24px;
					letter-spacing: 0.09px;
					line-height: 30px;
				}
			}
			p {
				margin-bottom: 0;
				color: #414141;
				font-size: 18px;
				font-style: normal;
				font-weight: 300;
				line-height: 26px;
				letter-spacing: -0.112px;
				@include media-breakpoint-down(md) {
					font-size: 16px;
					line-height: 24px;
				}
				@include media-breakpoint-down(sm) {
					font-size: 15px;
					line-height: 22px;
				}
			}
			.card-link {
				position: absolute;
				right: 28px;
				top: 40px;
				transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
				will-change: transform, box-shadow;
				border-radius: 9999px;
				height: 63px;
				width: 63px;
				@include media-breakpoint-down(sm) {
					height: 48px;
					width: 48px;
				}
			}

			.image-wrapper {
				width: 100%;
				max-width: 250px;
				@include media-breakpoint-down(md) {
					max-width: 120px;
				}
			}

			@include media-breakpoint-down(md) {
				padding: 30px;
			}
		}

		.link-box {
			&:hover {
				.card-link {
					transform: scale(1.1);
					box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
				}
			}
		}

		.image-wrapper {
			margin-bottom: 40px;
		}

		.card-box:last-of-type {
			.card-item {
				flex-direction: row;
				align-items: center;
				padding: 10px;
				@include media-breakpoint-down(md) {
					flex-direction: column;
					justify-content: start;
					align-items: start;
				}
				@include media-breakpoint-down(lg) {
					padding: 30px;
				}
			}
			.text-box {
				padding: 50px;
				@include media-breakpoint-down(lg) {
					padding: 0px;
				}
			}
			.image-wrapper {
				margin-bottom: 0px;
				margin-right: 10px;
				margin-left: 40px;
				max-width: 405px;
				@include media-breakpoint-down(lg) {
					margin-right: 40px;
					margin-left: 0px;
					max-width: 305px;
				}
				@include media-breakpoint-down(md) {
					margin-bottom: 20px;
					max-width: 230px;
				}
			}
		}
	}
	.cards-section {
		padding-top: 120px;
		@include media-breakpoint-down(sm) {
			padding-top: 80px;
		}
	}

	.join-the-community {
		padding: 110px 0px 130px 0px;
		@include media-breakpoint-down(lg) {
			padding: 80px 0px;
		}
		@include media-breakpoint-down(sm) {
			padding: 50px 0px;
		}
		.row {
			margin-top: 60px;
			flex-wrap: nowrap;
		}

		.subtitle {
			margin-bottom: 60px;
			@include media-breakpoint-down(sm) {
				margin-bottom: 40px;
			}
		}
		.scroll-box-main {
			@include media-breakpoint-up(lg) {
				overflow-x: scroll;
				// padding-bottom: 10px;
			}

			img {
				-webkit-user-drag: none; /* Chrome, Safari, Opera */
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
			}
		}

		.scroll-box {
			@include media-breakpoint-down(lg) {
				overflow-x: scroll;
				padding-bottom: 10px;
			}
		}

		.social-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border: 1px solid #d9d9d9;
			background-color: white;
			padding: 55px 50px 45px 45px;
			border-radius: 8px;
			height: 100%;
			@include media-breakpoint-down(sm) {
				padding: 35px 35px 25px 25px;
			}

			.social-box {
				display: flex;
				flex-wrap: wrap;
				@include media-breakpoint-up(lg) {
					max-width: 420px;
				}

				.logo-container {
					height: 40px;
					width: 40px;
					.gatsby-image-wrapper {
						width: 40px;
					}
				}
				.text-box {
					.title {
						color: #000;
						font-size: 16px;
						font-style: normal;
						line-height: normal;
					}
					.text {
						font-size: 12px;
						font-style: normal;
						line-height: normal;
						margin-top: 2px;
					}
				}
				.icon-card-wrapper {
					.community-item {
						display: flex;
						align-items: center;
						padding: 0px;
						height: fit-content;
						.title {
							margin-top: 0px;
						}
					}
				}

				// .icon-card-wrapper:nth-child(5),
				// .icon-card-wrapper:nth-child(6) {
				// 	width: 100%;
				// 	@include media-breakpoint-up(md) {
				// 		width: 33.33%;
				// 	}
				// 	@include media-breakpoint-up(lg) {
				// 		width: 100%;
				// 	}
				// }
				.icon-card-wrapper {
					margin-bottom: 40px;
				}
			}

			.link-container {
				margin-left: auto;
				@include media-breakpoint-down(lg) {
					margin-top: 40px;
				}
				.link {
					font-family: $ruberoid;
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 1em;
					padding: 8px 0;
					margin: -8px 0;
					color: #000000;
					transition: all 0.2s ease-in-out;
					&:hover {
						color: #393939;
						& svg {
							transform: translateX(8px) translateY(-2px);
						}
					}
				}
				svg {
					transform: translateX(0px) translateY(-2px);
					margin-left: 8px;
					transition: all 0.2s ease-in-out;
					will-change: transform;
				}
			}
		}

		.community-image {
			overflow: hidden;
			border-radius: 8px;
			// Generate ratio css: https://ratiobuddy.com/
			position: relative;
			// margin-right: 10px;
			&:before {
				display: block;
				content: "";
				width: 100%;
				padding-top: calc((400 / 565) * 100%);
				@include media-breakpoint-up(sm) {
					padding-top: calc((420 / 565) * 100%);
				}
			}
			& > .image {
				position: absolute;
				object-fit: cover;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.image-caption {
				position: absolute;
				display: flex;
				justify-content: space-between;
				padding: 11px 20px;
				width: 100%;
				bottom: 0;
				left: 0;
				z-index: 2;
				.caption-box {
					border-radius: 400px;
					background: rgba(255, 255, 255, 0.3);
					backdrop-filter: blur(25px);
					flex-shrink: 0;
					border: unset;
					width: fit-content;
					padding: 10px 21px;
					.caption-text {
						color: #fff;
						text-align: center;
						font-family: Ruberoid;
						font-size: 14px;
						font-style: normal;
						font-weight: bold;
						line-height: normal;
					}
				}
				.logo {
					height: 40px;
					width: 40px;
					border-radius: 9999px;
					overflow: hidden;
				}
			}
		}
	}
}
