.button {
	cursor: pointer;
}
.button-simple {
	height: auto;
	line-height: 1.25em;
	padding: 15px 25px;
	background: #000000;
	border-radius: 6px;
	font-family: $ruberoid;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	letter-spacing: 0.2px;
	text-align: center;
	transition: 300ms all ease-in-out;
	display: inline-block;
	text-decoration: none;
	border: none;

	&.sm {
		padding: 10px;
		font-size: 12px;
		letter-spacing: 0.15px;
		line-height: 18px;
	}

	&:hover {
		background: lighten(#000, 20%);
		color: #fff;
	}
}

.button-white {
	border-radius: 6px;
	font-family: $ruberoid;
	font-weight: 500;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0.2px;
	text-align: center;
	transition: 300ms all ease-in-out;
	text-decoration: none;
	padding: 0 25px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	background: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);

	&:hover {
		background: #000;
		color: #fff;
	}
}

.button-ghost {
	border-radius: 6px;
	font-family: $ruberoid;
	font-weight: 500;
	font-size: 16px;
	color: #000000;
	border: 1px solid #000;
	letter-spacing: 0.2px;
	text-align: center;
	transition: 300ms all ease-in-out;
	text-decoration: none;
	padding: 0px 25px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	background: transparent;

	&:hover {
		background: #000;
		color: #fff;
	}
}

.button-footer {
	border-radius: 6px;
	font-family: $ruberoid;
	font-weight: 700;
	font-size: 14px;
	color: #000000;
	background: #ffffff;
	letter-spacing: 0.2px;
	text-align: center;
	transition: 300ms all ease-in-out;
	text-decoration: none;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 50px;
	line-height: 1em;

	&:hover {
		background: #ebebeb;
		color: #000000;
	}
}

.button-icon {
	line-height: 20px;
	text-decoration: none;
	font-family: $ruberoid;
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	letter-spacing: 0;
	padding-right: 0;
	transition: 600ms all cubic-bezier(0.83, 0, 0.17, 1);

	i {
		margin-right: 10px;
		color: $purple;
		font-size: 20px;
		float: left;
		line-height: 26px;
		transition: 600ms all cubic-bezier(0.83, 0, 0.17, 1);
	}

	&:hover {
		padding-right: 3px;
		color: $purple;

		i {
			margin-right: 7px;
		}
	}
}

.button-external {
	line-height: 24px;
	text-decoration: none;
	font-family: $ruberoid;
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	letter-spacing: 0;
	padding-right: 0;
	transition: 400ms all cubic-bezier(0.83, 0, 0.17, 1);
	display: table;
	position: relative;

	i {
		margin-left: 10px;
		color: $purple;
		font-size: 10px;
		float: right;
		line-height: 23px;
		transform: rotate(0deg);
		transition: 600ms all cubic-bezier(0.83, 0, 0.17, 1);
	}

	&.big {
		font-size: 18px;
	}

	&:hover {
		color: $purple;

		i {
			transform: rotate(45deg);
		}
	}
}

.button-external-big {
	line-height: 26px;
	text-decoration: none;
	font-family: $ruberoid;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	padding-right: 0;
	transition: 600ms all cubic-bezier(0.83, 0, 0.17, 1);
	display: table;
	position: relative;

	i {
		margin-left: 10px;
		color: $purple;
		font-size: 10px;
		float: right;
		line-height: 24px;
		transform: rotate(0deg);
		transition: 600ms all cubic-bezier(0.83, 0, 0.17, 1);
	}

	&:hover {
		color: $purple;

		i {
			transform: rotate(45deg);
		}
	}
}

.suggest-button {
	font-family: $ruberoid;
	font-weight: 600;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	margin-top: 30px;
	//padding-left:35px;
	display: inline-block;

	i {
		margin-right: 15px;
	}
}
